<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dianping API</title>
</head>
<body>
    <h2>Dianping API</h2>
    <ul>
        <li>
            <h3>Endpoint</h3>
            <ul>
                <li>/dianping/hotel?url={dianping_url}</li>
                <li><a target="_blank" href="/api/v1/hotel?url=http://www.dianping.com/shop/l4Ty2j8mxAJwtJju">/api/v1/hotel?url=http://www.dianping.com/shop/l4Ty2j8mxAJwtJju</a></li>
            </ul>
        </li>
    </ul>



</body>
</html>